params {
	outdir = "$baseDir/results/"
	reads  = "$baseDir/data/*.fastq.gz"
	genome = "$baseDir/data/ecoli_dh10b_ensembl.fasta"
	gff3   = "$baseDir/data/ecoli_dh10b_ensembl.gff3"
}

docker {
	enabled    = true
	remove     = true
	runOptions = '-u $(id -u):$(id -g)'
}

workflow.onComplete = {
	println "Completed at     : $workflow.complete"
	println "Duration         : $workflow.duration"
	println "Execution status : ${workflow.success ? 'OK': 'failed'}"
	println "Command line     : $workflow.commandLine"
}
