params {
	reads        = "$baseDir/data/*.fastq.gz"
	plasmid      = "$baseDir/data/plasmid.fasta"
	genome       = "$baseDir/data/ecoli_dh10b_ncbi.fasta"
	annot_genome = "$baseDir/data/ecoli_dh10b_annotation.fasta"
	gff3         = "$baseDir/data/ecoli_dh10b_annotation.gff3"
	outdir       = "$baseDir/results/"
}

docker {
	enabled    = true
	remove     = true
	runOptions = '-u $(id -u):$(id -g)'
}

workflow.onComplete = {
	println "Completed at     : $workflow.complete"
	println "Duration         : $workflow.duration"
	println "Execution status : ${workflow.success ? 'OK': 'failed'}"
	println "Command line     : $workflow.commandLine"
}