params {
	reads                    = "$baseDir/data/*.fastq.gz"
	genome                   = "$baseDir/data/ecoli_dh10b_ncbi.fasta"
	annotated_genome         = "$baseDir/data/ecoli_dh10b_annotation.fasta"
	annotated_plasmid_genome = "$baseDir/data/plasmid.fasta"
	annotated_gff3           = "$baseDir/data/ecoli_dh10b_annotation.gff3"
	outdir                   = "$baseDir/results/"
}

docker {
	enabled    = true
	remove     = true
	runOptions = '-u $(id -u):$(id -g)'
}

workflow.onComplete = {
	println "Completed at     : $workflow.complete"
	println "Duration         : $workflow.duration"
	println "Execution status : ${workflow.success ? 'OK': 'failed'}"
	println "Command line     : $workflow.commandLine"
}